.country-card {
  width: 20rem;
  margin-bottom: 2rem;

  font-size: 1.4rem;

  border-radius: 0.5rem;
  border: 2px solid #ccc;

  overflow: hidden;
}

.country-img {
  width: 100%;
  height: 40%;
}

.country-info {
  padding-inline: 1.5rem;
}

.country-title {
  font-weight: 700;
}
