.detailed-card {
  width: 60%;

  gap: 2.5rem;
  align-items: stretch;
  justify-content: space-between;
}

.img-container {
  background-color: var(--elements);
  padding: 1rem;
  border-radius: 0.5rem;

  box-shadow: var(--shadow);

  /* add to transition list */
}

.data {
  padding: 1rem 0;
  gap: 1.5rem;
  line-height: 2;
}

.border {
  margin-left: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--elements);
  box-shadow: var(--shadow);
}
