:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.dark-mode {
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
}

.light-mode {
  --elements: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

input,
select {
  font: inherit;
  color: inherit;
}

.flex {
  display: flex;
}

body {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
}

body,
.country-card,
nav,
input,
select {
  transition: 0.3s;
}
